## <font color="black"><h4 align="center">7-5Handling Missing Data - fillna, interpolate, dropna</font>

In [2]:
import pandas as pd
df = pd.read_csv("7-5_weather_data.csv",parse_dates=['day'])
type(df.day[0])
df.head(2)

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04          NaN        7.0  Sunny

In [3]:
df.set_index('day',inplace=True)
df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          NaN        7.0  Sunny

## <font color="black">fillna</font>

<font color="black">**Fill all NaN with one specific value**</font>

In [4]:
new_df = df.fillna(0)
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          0.0        7.0  Sunny

<font color="black">**Fill na using column names and dict**</font>

In [5]:
new_df = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'No Event'
    })
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          0.0        7.0  Sunny

<font color="purple">**Use method to determine how to fill na values**</font>

In [6]:
new_df = df.fillna(method="ffill")
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         32.0        7.0  Sunny

In [7]:
new_df = df.fillna(method="bfill")
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         28.0        7.0  Sunny

<font color="purple">**Use of axis**</font>

In [8]:
new_df = df.fillna(method="bfill", axis="columns") # axis is either "index" or "columns"
new_df.head(2)

           temperature windspeed  event
day
2017-01-01          32         6   Rain
2017-01-04           7         7  Sunny

<font color="purple">**limit parameter**</font>

In [9]:
new_df = df.fillna(method="ffill",limit=1)
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         32.0        7.0  Sunny

### <font color="blue">interpolate</font>

In [10]:
new_df = df.interpolate()
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         30.0        7.0  Sunny

In [11]:
new_df = df.interpolate(method="time") 
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         29.0        7.0  Sunny

**Notice that in above temperature on 2017-01-04 is 29 instead of 30 (in plain linear interpolate)**

**There are many other methods for interpolation such as quadratic, piecewise_polynomial, cubic etc. 
Just google "dataframe interpolate" to see complete documentation**

### <font color="blue">dropna</font>

In [12]:
new_df = df.dropna()
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-08         31.0        2.0  Sunny

In [13]:
new_df = df.dropna(how='all')
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          NaN        7.0  Sunny

In [14]:
new_df = df.dropna(thresh=1)
new_df.head(2)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          NaN        7.0  Sunny

### <font color="blue">Inserting Missing Dates</font>

In [16]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx).head(2)

            temperature  windspeed event
2017-01-01         32.0        6.0  Rain
2017-01-02          NaN        NaN   NaN